[Package]
version: 1
depends: 

[Product]
type: localboot
id: teska-wlan-psk
name: teska-wlan-psk
description: Edit wlan-psk.xml to set SSID + Password on Opsi Server in depot
advice: 
version: 1.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

;[ProductProperty]
;type: unicode
;name: wlanssid
;multivalue: False
;editable: True
;description: SSID of WLAN
;values: ["Schule", "Schule-Byod", "Test"]
;default: []

;[ProductProperty]
;type: unicode
;name: wlanpassword
;multivalue: False
;editable: True
;description: Password, case sensitive!!
;values: ["3k34jlkj30988843ju34kjlwfkjas", "4444444StrengGeheim"]
;default: []



[ProductProperty]
type: unicode
name: uninstallwlanssid
multivalue: True
editable: True
description: Uninstall existing wlan config on client
values: ["Schule", "Schule-Byod", "Test"]
default: []


